body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }

header {
    background-color: #b85042;
    min-height: 15vh;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

main {
    margin: 0;
    background-color: #e7e8d1;
    flex: 1;
    padding: 10px;
    width: 100%;
}

input::placeholder {
    color:#b85042;
    font-style: italic;
}

#buttonTittle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;

}

#parentsDispo {
    margin: 25px;
    padding: 10px;
    background-color: #b85042a3;
    border-radius: 5px;
    color: #e7e8d1;
    font-weight: 600;
}

#parentsDispoArray {
    display: flex;
    flex-wrap: wrap;
    
}

.btn {
    padding: 10px;
    border-radius: 5px;

}

.btn-header {
    background-color: #e7e8d1;
    color: #b85042;

}

.parentCell {
    border-radius: 5px;
    border: solid 1px #e7e8d1;
    padding: 10px;
    margin: 10px;
    min-width: (100vw/11);
    flex : 1 0 10%;
    text-align: center;
}

#parenstSelectionnes {
    margin: 25px;
    padding: 10px;
    background-color: #a7beae;
    border-radius: 5px;
    color: #e7e8d1;
    font-weight: 600;
}

#parentsSelectArray {
    display: flex;
    flex-wrap: wrap;
    
}

footer {
    margin: 0 auto;
    background-color: #e7e8d1;
    min-height: 5vh;
    padding: 10px;
    width: 100%;
}

img {
    display: block;
    margin: auto;
    width: 30px;
    height: auto;
    transition: transform 0.2s; 
}

img:hover {
    transform: scale(1.1); 
  }

@media only screen and (max-width:700px){
    header {
        flex-direction: column;
    }
    header > div {
        padding: 5px;
    }
}